#product-overview
{
    background:#ff1b68;
    padding: 20px;
    /* border-style: dashed;
    border-color: black;
    border-width: 5px;
    margin: 20px; */
    width:100%;
}

.section-title{
    color: green;
}
h1
{
    color:white ;
    font-family: 'ZCOOL KuaiLe', cursive;

}
body{
    font-family: sans-serif;
    margin: 0px;
}
.main-header{
    background: green;
    width: 100%;
    padding: 8px 16px;
}
.main-nav_item{
    display: inline-block;
    margin: 0px 16px;
}
.main-nav{
    display: inline-block;
}
.main-header>div{
    display: inline-block;
}
.main-header_brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight:bold;
    font-size: 22px;
    vertical-align: middle;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 100px);
}
.main-nav_items{
    margin: 0px;
    padding: 0;
    list-style: none;
}
.main-nav_item a{
    text-decoration: none;
    color: #0e4f1f;
}
.main-nav_item a:hover{
    color: white;
    font-weight:bold;
}
.main-nav_item--cta{
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}